@charset "UTF-8";

main {
  padding: 90px 0 125px;
}

.main__wrapper {
  max-width: 1163px;
  margin: 0 auto;
}

.products__card {
  flex-basis: 100%;
  box-shadow: 0 0 10px rgba(101, 101, 101, 0.2);
  position: relative;
}

.products__card.online .card__info .user__online {
  display: block;
}

.products__card.online .card__info .user__offline {
  display: none;
}

.products__card.tenderOwner .additional__file .close__tender {
  display: flex;
}

.products__card .card__head {
  display: grid;
  grid-template-columns: 1fr 4fr 2fr;
}

.products__card .card__head .card__id {
  text-align: center;
  background: var(--green);
  font-size: 18px;
  font-weight: bolder;
  color: var(--light-txt);
  padding: 11px 0;
}

.products__card .card__head .card__title {
  font-size: 18px;
  line-height: 22px;
  font-weight: bolder;
  color: var(--light-txt);
  padding: 11px 0 11px 28px;
  background: var(--dark-bg);
}

.products__card .card__head .card__offers {
  padding: 11px 0 11px 28px;
  font-size: 16px;
  background: var(--grey);
}

.products__card .card__head .card__offers p:before {
  content: "";
  width: 18px;
  height: 18px;
  background-image: url(../img/envelope-open-text.svg);
  background-repeat: no-repeat;
  display: inline-block;
  vertical-align: middle;
  margin-right: 14px;
}

.products__card .product__card__inner {
  display: grid;
  grid-template-columns: 1fr 4fr 2fr;
  padding: 40px 75px 25px 20px;
}

.products__card .card__img {
  max-width: 200px;
  max-height: 200px;
}

.products__card .card__img img {
  max-width: 100%;
  border: 3px solid var(--green);
  display: block;
}

.products__card .card__info {
  margin-top: 25px;
}

.products__card .card__info .item__name {
  font-size: 21px;
}

.products__card .card__info div {
  margin-top: 15px;
}

.products__card .card__info div p {
  font-size: 12px;
  font-weight: bold;
  white-space: nowrap;
  margin-top: 5px;
}

.products__card .card__info div p span {
  font-weight: normal;
}

.products__card .card__info .user__online {
  font-size: 14px;
  font-weight: bolder;
  color: var(--green);
  display: none;
}

.products__card .card__info .user__offline {
  font-size: 14px;
  font-weight: bolder;
  color: #FF0000;
  display: block;
}

.products__card .card__main p {
  font-size: 21px;
  color: var(--dark-bg);
  line-height: 25px;
}

.products__card .card__main p span {
  font-weight: 800;
}

.products__card .card__main ul {
  margin-top: 20px;
  list-style: none;
}

.products__card .card__main ul li {
  line-height: 24px;
  padding-left: 22px;
  position: relative;
}

.products__card .card__main ul li:before {
  content: '';
  width: 16px;
  height: 12px;
  background: url(../img/check.png);
  position: absolute;
  left: 0;
  margin: auto;
  top: 0;
  bottom: 0;
}

.products__card .products__contacts {
  padding-top: 23px;
  display: none;
}

.products__card .products__contacts p {
  font-size: 16px;
  line-height: 19px;
  margin-bottom: 20px;
}

.products__card .products__contacts a:not(:last-child) {
  padding-left: 37px;
  text-decoration: none;
  color: var(--dark-txt);
  line-height: 19px;
  font-size: 16px;
  position: relative;
  display: block;
  margin: 5px 0;
}

.products__card .products__contacts a:not(:last-child):before {
  content: "";
  left: 0;
  margin: auto;
  top: 0;
  bottom: 0;
  position: absolute;
  background-repeat: no-repeat;
}

.products__card .products__contacts__unregistred {
  padding-top: 23px;
  display: block;
}

.products__card .products__contacts__unregistred p {
  font-size: 12px;
  line-height: 15px;
}

.products__card .products__contacts__unregistred span:not(.card__about) {
  padding-left: 37px;
  text-decoration: none;
  color: var(--dark-txt);
  line-height: 19px;
  font-size: 16px;
  position: relative;
  display: block;
  margin: 5px 0;
}

.products__card .products__contacts__unregistred span:not(.card__about):before {
  content: "";
  left: 0;
  margin: auto;
  top: 0;
  bottom: 0;
  position: absolute;
  background-repeat: no-repeat;
}

.products__card .products__contacts__unregistred .card__about {
  background: var(--grey);
  border-color: var(--grey);
  color: var(--dark-txt);
}

.products__card .products__contacts__unregistred .card__about:before,
.products__card .products__contacts__unregistred .card__about:after {
  display: none;
}

.products__card .card__phone:before {
  width: 17px;
  height: 17px;
  background: url(../img/phone.svg);
}

.products__card .card__mail:before {
  width: 17px;
  height: 13px;
  background: url(../img/envelope.svg);
}

.products__card .card__about {
  margin-top: 23px;
  width: 272px;
  height: 41px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  border-radius: var(--round);
  color: var(--light-txt);
  background: var(--green);
  transition: .3s all;
  text-decoration: none;
  position: relative;
  border: 1px solid var(--green);
}

.products__card .card__about:after,
.products__card .card__about:before {
  content: "";
  width: 8px;
  height: 2px;
  background: var(--light-txt);
  border-radius: 3px;
  position: absolute;
  right: 15px;
  transition: .3s all;
}

.products__card .card__about:after {
  transform: rotate(45deg);
  top: 17px;
}

.products__card .card__about:before {
  transform: rotate(-45deg);
  top: 21px;
}

.products__card .card__about:hover {
  background: var(--light-txt);
  color: var(--dark-txt);
  border-color: var(--dark-txt);
}

.products__card .card__about:hover:before,
.products__card .card__about:hover:after {
  right: 12px;
  background: var(--dark-txt);
}

.products__card .needed__products {
  max-width: 978px;
  margin: 0 auto;
}

.products__card .needed__products > p {
  font-size: 18px;
  font-weight: bolder;
  margin-bottom: 20px;
}

.products__card .needed__products li {
  height: 50px;
}

.products__card .tender__row {
  width: 955px;
  display: grid;
  grid-template-columns: 4fr 7fr 5fr;
  float: right;
  position: relative;
  top: -10px;
}

.products__card .tender__row .tender__example__item__wrapper {
  display: grid;
  grid-template-columns: 2fr 1fr;
}

.products__card .tender__row .tender__example__item {
  font-size: 14px;
  padding: 11px 14px;
  border: 1px solid var(--dark-bg);
}

.products__card .tender__row .tender__example__item:last-child {
  background: var(--grey);
  position: relative;
}

.products__card .tender__row .tender__example__item:last-child:after {
  content: "";
  border: solid var(--dark-txt);
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  margin: auto;
  transition: .3s all;
  position: absolute;
  top: 0;
  right: 8px;
  bottom: 0;
  width: 0;
  height: 0;
  transform: rotate(45deg);
}

.products__card .additional__info {
  padding: 0 15px;
  margin: 15px auto 30px;
}

.products__card .additional__info span {
  font-size: 18px;
  font-weight: bolder;
  margin-bottom: 12px;
  display: block;
}

.products__card .additional__file {
  max-width: 980px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0 15px;
}

.products__card .additional__file a {
  width: 270px;
  height: 50px;
  background-color: var(--green);
  background-image: url(../img/download.png);
  background-repeat: no-repeat;
  background-position-y: center;
  background-position-x: 230px;
  cursor: pointer;
  border-radius: 3px;
  color: var(--light-txt);
  display: flex;
  flex-wrap: wrap;
  padding-left: 18px;
  align-items: center;
  font-size: 16px;
  text-decoration: none;
  margin-bottom: 5px;
  box-shadow: 0 6px 20px rgba(31, 84, 195, 0.15);
}

.products__card .additional__file .close__tender {
  display: none;
  width: 272px;
  height: 41px;
  background: var(--dark-bg);
  border: 1px solid var(--dark-bg);
  transition: .3s all;
  color: var(--light-txt);
  border-radius: var(--round);
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.products__card .additional__file .close__tender:hover {
  background: transparent;
  color: var(--dark-bg);
}

.products__card .tenders__info {
  display: grid;
  grid-template-columns: 2fr 1fr;
  margin-top: 70px;
  position: relative;
}

.products__card .tenders__info p {
  text-align: center;
  padding: 10px 0;
}

.products__card .tenders__info p:first-child {
  background: var(--grey);
}

.products__card .tenders__info p:nth-child(2) {
  background: #D6D6D6;
}

.products__card .tenders__info p span {
  font-weight: bolder;
}

.products__card .tenders__info .complain {
  position: absolute;
  bottom: -26px;
  right: 0;
  color: var(--dark-txt);
}

.tender__offers {
  margin-top: 75px;
}

.tender__offers > p {
  font-size: 18px;
  margin: 0 auto 15px;
  font-weight: bolder;
  text-align: center;
}

.tender__offers .tender__offer {
  margin: 25px auto;
  display: grid;
  grid-template-columns: 1fr 7fr;
  box-shadow: 0 0 10px rgba(101, 101, 101, 0.2);
  padding: 50px 30px 50px 20px;
  position: relative;
  grid-column-gap: 30px;
}

.tender__offers .tender__offer .tender__img div:not(.offer__phones) {
  display: inline-block;
  position: relative;
}

.tender__offers .tender__offer .tender__img div:not(.offer__phones):after {
  content: "";
  border: solid var(--green);
  border-width: 0 10px 10px 0;
  display: inline-block;
  padding: 36px;
  transition: .3s all;
  position: absolute;
  right: -9px;
  bottom: -9px;
  width: 0;
  height: 0;
}

.tender__offers .tender__offer .tender__img img {
  max-width: 100%;
  display: block;
}

.tender__offers .tender__offer .tender__img .offer__phones {
  margin-top: 20px;
}

.tender__offers .tender__offer .tender__img .offer__phones a {
  padding-left: 25px;
  text-decoration: none;
  color: var(--dark-txt);
  line-height: 19px;
  font-size: 14px;
  position: relative;
  display: block;
  margin: 5px 0;
}

.tender__offers .tender__offer .tender__img .offer__phones a:before {
  content: "";
  width: 17px;
  height: 17px;
  background: url(../img/phone.svg);
  left: 0;
  margin: auto;
  top: 0;
  bottom: 0;
  position: absolute;
  background-repeat: no-repeat;
}

.tender__offers .tender__offer .tender__info .company__title a {
  font-size: 18px;
  font-weight: bolder;
  text-decoration: underline;
  color: var(--green);
}

.tender__offers .tender__offer .tender__info span {
  font-size: 12px;
  color: #9D9D9D;
}

.tender__offers .tender__offer .tender__info .offer__phones {
  margin-top: 5px;
}

.tender__offers .tender__offer .tender__info .offer__phones a {
  padding-left: 25px;
  text-decoration: none;
  color: var(--dark-txt);
  line-height: 19px;
  font-size: 14px;
  position: relative;
  display: block;
  margin: 5px 0;
}

.tender__offers .tender__offer .tender__info .offer__phones a:before {
  content: "";
  width: 17px;
  height: 17px;
  background: url(../img/phone.svg);
  left: 0;
  margin: auto;
  top: 0;
  bottom: 0;
  position: absolute;
  background-repeat: no-repeat;
}

.tender__offers .tender__offer .tender__info table {
  margin-top: 15px;
  width: 100%;
}

.tender__offers .tender__offer .tender__info table .table__header th {
  background: var(--dark-bg);
  color: var(--light-txt);
  font-size: 14px;
  padding: 11px 17px;
  font-weight: 500;
}

.tender__offers .tender__offer .tender__info table .table__item td {
  background: var(--grey);
  color: var(--dark-bg);
  font-size: 14px;
  padding: 11px 17px;
  font-weight: 500;
  text-align: center;
}

.tender__offers .tender__offer .tender__info table .table__shipping td {
  background: var(--grey);
  color: var(--dark-bg);
  font-size: 14px;
  padding: 11px 17px;
  font-weight: 500;
}

.tender__offers .tender__offer .tender__info table .table__total td {
  background: #F2F8F0;
  color: var(--dark-bg);
  font-size: 18px;
  padding: 11px 17px;
  font-weight: bolder;
  text-align: right;
}

.tender__offers .tender__offer .tender__info table .table__total td:last-child {
  font-size: 14px;
  background: var(--green);
  color: var(--light-txt);
}

.tender__offers .tender__offer .tender__info .comment {
  font-size: 14px;
  margin-top: 20px;
}

.tender__offers .tender__offer .sellers__rating {
  position: absolute;
  right: 10px;
  top: 0;
}

.tender__offers .tender__offer .sellers__rating .stars {
  display: inline-block;
  position: relative;
}

.tender__offers .tender__offer .sellers__rating .stars:before {
  content: "☆☆☆";
  color: #000;
  font-size: 20px;
  font-weight: bolder;
}

.tender__offers .tender__offer .sellers__rating .stars span {
  width: 0%;
  overflow: hidden;
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
}

.tender__offers .tender__offer .sellers__rating .stars span:before {
  content: "★★★";
  position: absolute;
  left: 0;
  top: 0;
  color: #000;
  font-size: 20px;
  width: 85%;
  font-weight: bolder;
}

.your__offer {
  margin-top: 60px;
}

.your__offer > p {
  font-size: 18px;
  font-weight: bolder;
  margin: 20px 0;
  text-align: center;
}

.your__offer div {
  padding: 20px;
  box-shadow: 0 0 10px rgba(101, 101, 101, 0.2);
}

.your__offer div p {
  max-width: 496px;
  margin: 0 auto;
  text-align: center;
}

.your__offer div a {
  color: var(--green);
}

.auth .your__offer__auth {
  display: block;
}

.auth .your__offer {
  display: none;
}

.your__offer__auth {
  display: none;
  margin-top: 60px;
}

.your__offer__auth > p {
  font-size: 18px;
  font-weight: bolder;
  margin: 20px 0;
  text-align: center;
}

.your__offer__auth form {
  box-shadow: 0 0 10px rgba(101, 101, 101, 0.2);
  padding: 45px 25px 80px;
}

.your__offer__auth form > p {
  font-size: 18px;
  font-weight: bolder;
  text-align: center;
  margin-bottom: 30px;
}

.your__offer__auth form table {
  width: 100%;
}

.your__offer__auth form table .table__header {
  margin-bottom: 10px;
}

.your__offer__auth form table .table__header th {
  background: var(--dark-bg);
  color: var(--light-txt);
  font-size: 14px;
  padding: 11px 17px;
  font-weight: 500;
}

.your__offer__auth form table .table__item td {
  position: relative;
  background: var(--grey);
  color: var(--dark-bg);
  font-size: 14px;
  padding: 11px 17px;
  font-weight: 500;
  text-align: center;
}

.your__offer__auth form table .table__item .row__total__price {
  padding: 0;
}

.your__offer__auth form table .table__item .row__total__price input {
  width: 100%;
  height: 100%;
  padding: 11px 5px;
  outline: none;
  border: none;
  background: transparent;
}

.your__offer__auth form table .table__item .enter__number {
  background: transparent;
  padding: 0 12px;
  position: relative;
}

.your__offer__auth form table .table__item .enter__number input {
  width: 100%;
  height: 100%;
  padding: 11px 5px;
  outline: none;
  border: 1px solid #D5D5D5;
}

.your__offer__auth form table .table__item .enter__number:before {
  content: "х";
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  left: 1px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.your__offer__auth form table .table__item .enter__number:after {
  content: "=";
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  right: 1px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.your__offer__auth form table .table__item .offer__analog {
  background: transparent;
  padding: 0 12px;
}

.your__offer__auth form table .table__item .offer__analog span {
  width: 100%;
  height: 40px;
  padding: 4px 20px;
  font-size: 14px;
  cursor: pointer;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  border-radius: var(--round);
  color: var(--light-txt);
  background: var(--green);
  transition: .3s all;
  position: relative;
  border: 1px solid var(--green);
}

.your__offer__auth form table .table__item .offer__analog span:hover {
  background: transparent;
  color: var(--green);
}

.your__offer__auth form table .padding__row {
  padding: 10px 0;
  display: block;
}

.your__offer__auth form .your__shipping {
  display: flex;
  flex-wrap: wrap;
  padding: 0 50px;
  align-items: center;
}

.your__offer__auth form .your__shipping p {
  font-size: 14px;
}

.your__offer__auth form .your__shipping p input {
  padding: 10px 5px;
  max-width: 106px;
  outline: none;
}

.your__offer__auth form .your__shipping input[type=checkbox] {
  display: none;
}

.your__offer__auth form .your__shipping input[type=checkbox]:checked + label:before {
  background-image: url(../img/check.svg);
  border: 1px solid var(--green);
}

.your__offer__auth form .your__shipping label {
  position: relative;
  margin-left: 45px;
  display: block;
  padding-left: 30px;
}

.your__offer__auth form .your__shipping label:before {
  content: "";
  width: 16px;
  height: 16px;
  position: absolute;
  border: 1px solid var(--dark-bg);
  background-size: cover;
  border-radius: 50%;
  left: 0;
  background-repeat: no-repeat;
}

.your__offer__auth form textarea {
  max-width: 918px;
  width: 100%;
  height: 127px;
  margin: 20px auto 0;
  padding: 16px 20px;
  resize: none;
  outline: none;
}

.your__offer__auth form button {
  margin: 75px auto 0;
  max-width: 564px;
  height: 52px;
  width: 100%;
  background: var(--green);
  border: 1px solid var(--green);
  font-size: 18px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  color: var(--light-txt);
  cursor: pointer;
  transition: .3s all;
  border-radius: 3px;
}

.your__offer__auth form button:hover {
  background: 0 0;
  color: var(--dark-bg);
  border-color: var(--dark-bg);
}

.auth .products__contacts {
  display: block;
}

.auth .products__contacts__unregistred {
  display: none;
}

.popup__wrapper {
  width: 100%;
  position: absolute;
  z-index: 555;
  top: 0;
  background: rgba(255, 255, 255, 0.7);
  min-height: 200%;
  display: none;
}

.popup__wrapper.popup__opened {
  display: block;
}

.popup__wrapper form {
  position: fixed;
  top: 180px;
  left: 0;
  right: 0;
  margin: auto;
  max-width: 626px;
  background: var(--dark-bg);
  padding: 30px 30px 50px;
}

.popup__wrapper form p {
  font-size: 18px;
  text-transform: uppercase;
  font-weight: bolder;
  margin-bottom: 25px;
  color: var(--light-txt);
  text-align: center;
}

.popup__wrapper form textarea {
  width: 100%;
  height: 125px;
  border-radius: 3px;
  padding: 16px 20px;
  resize: none;
  outline: none;
}

.popup__wrapper form button {
  margin-top: 35px;
  width: 100%;
  font-size: 18px;
  background: var(--green);
  border: 1px solid var(--green);
  box-shadow: 0 6px 20px rgba(31, 84, 195, 0.15);
  transition: .3s all;
  color: var(--light-txt);
  border-radius: 3px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: 50px;
  cursor: pointer;
}

.popup__wrapper form button:focus,
.popup__wrapper form button:hover {
  background: transparent;
  color: var(--green);
}

.popup__wrapper form .close__popup {
  position: absolute;
  top: 12px;
  right: 12px;
  cursor: pointer;
}

.popup__wrapper form .close__popup span {
  width: 15px;
  height: 2px;
  background: var(--light-txt);
  display: block;
  border-radius: 3px;
  position: relative;
  transform: rotate(45deg);
}

.popup__wrapper form .close__popup span:after {
  content: "";
  width: 15px;
  height: 2px;
  background: var(--light-txt);
  display: block;
  border-radius: 3px;
  position: absolute;
  transform: rotate(-90deg);
}

@media (min-width: 1200px) {
  .tender__offers .tender__offer .tender__info .offer__phones {
    display: none;
  }
}

@media (max-width: 1370px) {
  .products__card .card__head .card__id {
    font-size: 16px;
    padding: 12px 0;
  }

  .products__card .card__head .card__title {
    font-size: 14px;
    line-height: 18px;
    padding: 4px 0 4px 16px;
  }

  .products__card .card__head .card__offers {
    font-size: 12px;
    padding: 15px 0 14px 7px;
  }

  .products__card .card__head .card__offers p:before {
    margin-right: 10px;
  }

  .products__card .products__contacts {
    padding-top: 0;
  }

  .products__card .products__contacts p {
    margin-bottom: 10px;
  }

  .products__card .products__contacts__unregistred {
    padding-top: 0;
  }

  .products__card .card__about {
    width: 227px;
    height: 40px;
    font-size: 14px;
  }
}

@media (max-width: 1350px) {
  .products__card .card__main p span {
    display: block;
  }
}

@media (max-width: 1275px) {
  .products__card .card__main p {
    font-size: 16px;
  }

  .products__card .card__main ul {
    font-size: 14px;
  }

  .products__card .products__contacts a:not(:last-child) {
    font-size: 14px;
  }

  .products__card .products__contacts__unregistred span:not(.card__about) {
    font-size: 14px;
  }
}

@media (max-width: 1200px) {
  .tender__offers .tender__offer .tender__img .offer__phones {
    display: none;
  }
}

@media (max-width: 1100px) {
  .tender__offers .tender__offer {
    grid-template-columns: 1fr;
  }

  .tender__offers .tender__offer .tender__info .tender__main__info {
    position: absolute;
    top: 50px;
    left: 180px;
  }

  .your__offer__auth form table .table__item .offer__analog {
    position: absolute;
    right: 0;
    margin-top: 60px;
    max-width: 145px;
  }

  .your__offer__auth form table .padding__row {
    padding: 35px 0;
  }
}

@media (max-width: 1080px) {
  .products__card .tenders__info .complain {
    left: 0;
    margin: auto;
    text-align: center;
  }
}

@media (max-width: 1010px) {
  .products__card .needed__products {
    max-width: 620px;
  }

  .products__card .needed__products > p {
    margin-bottom: 10px;
  }

  .products__card .needed__products li {
    height: 155px;
  }

  .products__card .tender__row {
    grid-template-columns: 1fr;
    width: 600px;
    float: none;
    margin: 0 auto;
    top: 0;
  }

  .products__card .tender__row .tender__example__item {
    margin-top: 7px;
  }
}

@media (max-width: 945px) {
  .products__card {
    grid-column-gap: 20px;
  }

  .products__card .card__main p span {
    display: inline;
  }
}

@media (max-width: 870px) {
  .products__card .card__img {
    max-width: 130px;
    max-height: 130px;
  }
}

@media (max-width: 865px) {
  .products__card .card__head {
    display: flex;
    flex-wrap: wrap;
  }

  .products__card .card__head .card__id {
    flex-basis: 50%;
  }

  .products__card .card__head .card__title {
    flex-basis: 100%;
    order: 1;
    text-align: center;
  }

  .products__card .card__head .card__offers {
    flex-basis: 50%;
    text-align: center;
  }
}

@media (max-width: 800px) {
  .products__card {
    grid-template-columns: 1fr;
  }

  .products__card .card__img {
    max-width: 150px;
    max-height: 150px;
  }

  .products__card .card__info {
    padding-left: 30px;
  }

  .products__card .products__contacts {
    padding-top: 20px;
  }

  .products__card .products__contacts__unregistred {
    padding-top: 20px;
  }
}

@media (max-width: 700px) {
  .products__card .product__card__inner {
    grid-template-columns: 1fr 1fr;
  }

  .products__card .tender__row {
    width: 354px;
  }

  .tender__offers .tender__offer {
    margin: 20px auto;
  }

  .tender__offers .tender__offer .tender__info table {
    margin-top: 40px;
  }

  .tender__offers .tender__offer .tender__info table .table__header th {
    font-size: 6px;
    padding: 5px 8px;
  }

  .tender__offers .tender__offer .tender__info table .table__item td {
    font-size: 6px;
    padding: 5px 8px;
  }

  .tender__offers .tender__offer .tender__info table .table__shipping td {
    font-size: 6px;
    padding: 5px 8px;
  }

  .tender__offers .tender__offer .tender__info table .table__total td {
    font-size: 6px;
    padding: 5px 8px;
  }

  .tender__offers .tender__offer .tender__info table .table__total td:last-child {
    font-size: 6px;
  }

  .tender__offers .tender__offer .tender__info .comment {
    margin-top: 35px;
  }

  .your__offer__auth form table .table__header th {
    font-size: 6px;
    padding: 5px 8px;
  }

  .your__offer__auth form table .table__item td {
    font-size: 6px;
    padding: 5px 8px;
  }

  .your__offer__auth form table .table__item .row__total__price input {
    padding: 5px;
  }

  .your__offer__auth form table .table__item .enter__number input {
    padding: 5px;
  }
}

@media (max-width: 670px) {
  .products__card .product__card__inner {
    padding-right: 0;
  }

  .products__card .card__info {
    margin-top: 10px;
    padding-left: 0;
  }

  .products__card .additional__file {
    justify-content: center;
  }

  .products__card .additional__file a,
  .products__card .additional__file span {
    margin: 23px 0;
  }

  .products__card .additional__file a {
    margin: 0 auto;
  }

  .products__card .tenders__info {
    grid-template-columns: 1fr 1fr;
    font-size: 14px;
  }

  .products__card .tenders__info p {
    padding: 10px;
  }

  .products__card .tenders__info p span {
    display: block;
  }

  .tender__offers .tender__offer .tender__info .company__title a {
    font-size: 16px;
  }

  .tender__offers .tender__offer .sellers__rating {
    display: flex;
    flex-wrap: wrap;
    max-width: 75px;
  }

  .your__offer__auth form table .table__item .offer__analog {
    margin-top: 40px;
    max-width: 170px;
  }

  .your__offer__auth form table .table__item .offer__analog span {
    font-size: 10px;
    height: 30px;
  }

  .your__offer__auth form table .padding__row {
    padding: 20px 0;
  }

  .your__offer__auth form .your__shipping {
    padding: 0;
  }

  .your__offer__auth form button {
    max-width: 428px;
  }
}

@media (max-width: 500px) {
  .products__card .needed__products {
    padding: 0 15px;
    margin: 0 15px;
  }
}

@media (max-width: 400px) {
  .products__card .product__card__inner {
    grid-template-columns: 1fr;
  }

  .products__card .tender__row {
    width: 270px;
  }

  .your__offer__auth form .your__shipping label {
    margin-left: 0;
    margin-top: 20px;
  }
}

@media (max-width: 350px) {
  .tender__offers .tender__offer .tender__info .company__title a {
    font-size: 14px;
  }
}