@charset "UTF-8";

main {
  padding: 90px 0 125px;
}

.main__wrapper {
  max-width: 1163px;
  margin: 0 auto;
}

.products__card {
  flex-basis: 100%;
  padding-top: 25px;
  box-shadow: 0 0 10px rgba(101, 101, 101, 0.2);
  position: relative;
  margin-top: 35px;
}

.products__card.pro .products__rating .pro__label {
  background: var(--dark-bg);
  text-decoration: none;
}

.products__card.online .products__rating .user__online {
  display: block;
}

.products__card.online .products__rating .user__offline {
  display: none;
}

.products__card .product__card__inner {
  display: grid;
  grid-template-columns: 1fr 4fr 2fr;
  padding-left: 20px;
  padding-bottom: 25px;
  padding-right: 75px;
}

.products__card .card__img {
  max-width: 200px;
  max-height: 200px;
}

.products__card .card__img div {
  margin-top: 15px;
}

.products__card .card__img p {
  font-size: 12px;
  font-weight: bold;
  white-space: nowrap;
  margin-top: 5px;
}

.products__card .card__img p span {
  font-weight: normal;
}

.products__card .card__img img {
  max-width: 100%;
  border: 3px solid var(--green);
  display: block;
}

.products__card .card__info {
  padding-left: 50px;
}

.products__card .card__main p {
  font-size: 21px;
  color: var(--dark-bg);
  line-height: 25px;
}

.products__card .card__main p span {
  font-weight: 800;
}

.products__card .card__main ul {
  margin-top: 20px;
  list-style: none;
}

.products__card .card__main ul li {
  line-height: 24px;
  padding-left: 22px;
  position: relative;
}

.products__card .card__main ul li:before {
  content: '';
  width: 16px;
  height: 12px;
  background: url(../img/check.png);
  position: absolute;
  left: 0;
  margin: auto;
  top: 0;
  bottom: 0;
}

.products__card .products__contacts {
  padding-top: 23px;
  display: none;
}

.products__card .products__contacts p {
  font-size: 16px;
  line-height: 19px;
  margin-bottom: 20px;
}

.products__card .products__contacts a:not(:last-child) {
  padding-left: 37px;
  text-decoration: none;
  color: var(--dark-txt);
  line-height: 19px;
  font-size: 16px;
  position: relative;
  display: block;
  margin: 5px 0;
}

.products__card .products__contacts a:not(:last-child):before {
  content: "";
  left: 0;
  margin: auto;
  top: 0;
  bottom: 0;
  position: absolute;
  background-repeat: no-repeat;
}

.products__card .products__contacts__unregistred {
  padding-top: 23px;
  display: block;
}

.products__card .products__contacts__unregistred p {
  font-size: 12px;
  line-height: 15px;
}

.products__card .products__contacts__unregistred span:not(.card__about) {
  padding-left: 37px;
  text-decoration: none;
  color: var(--dark-txt);
  line-height: 19px;
  font-size: 16px;
  position: relative;
  display: block;
  margin: 5px 0;
}

.products__card .products__contacts__unregistred span:not(.card__about):before {
  content: "";
  left: 0;
  margin: auto;
  top: 0;
  bottom: 0;
  position: absolute;
  background-repeat: no-repeat;
}

.products__card .products__contacts__unregistred .card__about {
  background: var(--grey);
  border-color: var(--grey);
  color: var(--dark-txt);
}

.products__card .products__contacts__unregistred .card__about:before,
.products__card .products__contacts__unregistred .card__about:after {
  display: none;
}

.products__card .products__verification {
  font-size: 18px;
  line-height: 22px;
  font-weight: 800;
  margin-top: 5px;
  color: var(--grey);
}

.products__card.verified .products__verification {
  color: var(--green);
}

.products__card .card__phone:before {
  width: 17px;
  height: 17px;
  background: url(../img/phone.svg);
}

.products__card .card__mail:before {
  width: 17px;
  height: 13px;
  background: url(../img/envelope.svg);
}

.products__card .card__site:before {
  width: 21px;
  height: 21px;
  background: url(../img/globe-americas.svg);
}

.products__card .card__about {
  margin-top: 23px;
  width: 272px;
  height: 41px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  border-radius: var(--round);
  color: var(--light-txt);
  background: var(--green);
  transition: .3s all;
  text-decoration: none;
  position: relative;
  border: 1px solid var(--green);
}

.products__card .card__about:after,
.products__card .card__about:before {
  content: "";
  width: 8px;
  height: 2px;
  background: var(--light-txt);
  border-radius: 3px;
  position: absolute;
  right: 15px;
  transition: .3s all;
}

.products__card .card__about:after {
  transform: rotate(45deg);
  top: 17px;
}

.products__card .card__about:before {
  transform: rotate(-45deg);
  top: 21px;
}

.products__card .card__about:hover {
  background: var(--light-txt);
  color: var(--dark-txt);
  border-color: var(--dark-txt);
}

.products__card .card__about:hover:before,
.products__card .card__about:hover:after {
  right: 12px;
  background: var(--dark-txt);
}

.products__card .products__rating {
  position: absolute;
  right: 0;
  top: 0;
}

.products__card .products__rating .pro__label {
  display: inline-block;
  text-transform: uppercase;
  padding: 12px 18px;
  font-weight: 900;
  color: var(--light-txt);
  background: var(--grey);
  text-decoration: line-through;
}

.products__card .products__rating .stars {
  display: inline-block;
  position: relative;
}

.products__card .products__rating .stars:before {
  content: "☆☆☆";
  color: #000;
  font-size: 20px;
  font-weight: bolder;
}

.products__card .products__rating .stars span {
  width: 0%;
  overflow: hidden;
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
}

.products__card .products__rating .stars span:before {
  content: "★★★";
  position: absolute;
  left: 0;
  top: 0;
  color: #000;
  font-size: 20px;
  width: 85%;
  font-weight: bolder;
}

.products__card .products__rating .user__online {
  font-size: 14px;
  font-weight: bolder;
  color: var(--green);
  position: absolute;
  right: 12px;
  top: 55px;
  display: none;
}

.products__card .products__rating .user__offline {
  font-size: 14px;
  font-weight: bolder;
  color: #FF0000;
  position: absolute;
  right: 12px;
  top: 55px;
  display: block;
}

.products__card .card__buttons {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  text-align: center;
  margin-top: 80px;
}

.products__card .card__buttons span {
  display: block;
  padding: 14px 0;
  border: 1px solid var(--grey);
  font-size: 18px;
  cursor: pointer;
}

.products__card .card__buttons span.active__block {
  font-weight: bold;
  background: var(--grey);
}

.product__about {
  max-width: 842px;
  margin: 35px auto 0;
  padding: 0 15px;
  display: none;
}

.product__about.active__block {
  display: block;
}

.product__about p {
  font-size: 18px;
  color: var(--dark-bg);
  line-height: 24px;
}

.product__about .product__gallery {
  margin-top: 40px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 30px;
}

.product__about .product__gallery img {
  max-width: 100%;
}

.auth .products__contacts {
  display: block;
}

.auth .products__contacts__unregistred {
  display: none;
}

.product__reviews {
  display: none;
  margin-top: 35px;
}

.product__reviews.active__block {
  display: block;
}

.product__reviews .product__review {
  margin: 0 15px 20px;
  display: grid;
  grid-template-columns: 1fr 5fr;
  box-shadow: 0 0 10px rgba(101, 101, 101, 0.2);
  grid-gap: 30px;
  padding: 50px 100px 50px 35px;
  position: relative;
}

.product__reviews .review__img div {
  display: inline-block;
  position: relative;
}

.product__reviews .review__img div:after {
  content: "";
  border: solid var(--green);
  border-width: 0 10px 10px 0;
  display: inline-block;
  padding: 36px;
  transition: .3s all;
  position: absolute;
  right: -9px;
  bottom: -9px;
  width: 0;
  height: 0;
}

.product__reviews .review__img img {
  max-width: 100%;
  display: block;
}

.product__reviews .review__info .review__name {
  font-size: 18px;
  font-weight: bolder;
}

.product__reviews .review__info span {
  font-size: 12px;
  color: #9D9D9D;
}

.product__reviews .review__info .review__text {
  font-size: 14px;
  margin-top: 15px;
  color: var(--dark-bg);
}

.product__reviews .review__rating {
  position: absolute;
  right: 10px;
  top: 0;
}

.product__reviews .review__rating .stars {
  display: inline-block;
  position: relative;
}

.product__reviews .review__rating .stars:before {
  content: "☆☆☆";
  color: #000;
  font-size: 20px;
  font-weight: bolder;
}

.product__reviews .review__rating .stars span {
  width: 0%;
  overflow: hidden;
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
}

.product__reviews .review__rating .stars span:before {
  content: "★★★";
  position: absolute;
  left: 0;
  top: 0;
  color: #000;
  font-size: 20px;
  width: 85%;
  font-weight: bolder;
}

.product__sertificates {
  display: none;
  max-width: 1025px;
  margin: 35px auto 0;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.product__sertificates.active__block {
  display: grid;
}

.product__sertificates div {
  text-align: center;
}

.product__sertificates span {
  font-size: 14px;
}

.pagination {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-basis: 100%;
  margin-top: 25px;
  align-items: center;
}

.pagination li {
  list-style: none;
  margin: 0 15px;
}

.pagination li a {
  color: var(--dark-txt);
  text-decoration: none;
  width: 100%;
  height: 100%;
  display: block;
}

.pagination .prev__item,
.pagination .next__item {
  width: 60px;
  height: 60px;
  background: var(--grey);
  border-radius: 50%;
  margin: 0 25px;
  position: relative;
  transition: .3s all;
}

.pagination .prev__item a,
.pagination .next__item a {
  position: relative;
}

.pagination .prev__item a:before,
.pagination .next__item a:before {
  content: "";
  border: solid var(--dark-txt);
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  margin: auto;
  transition: .3s all;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 0px;
  height: 0px;
}

.pagination .next__item a:before {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.pagination .next__item.notLastPage {
  background-color: var(--green);
}

.pagination .next__item.notLastPage a:before {
  border-color: var(--light-txt);
}

.pagination .prev__item a:before {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}

.pagination .prev__item.notFirstPage {
  background: var(--green);
}

.pagination .prev__item.notFirstPage a:before {
  border-color: var(--light-txt);
}

.add__review {
  background: var(--dark-bg);
  padding: 30px 30px 50px;
  max-width: 626px;
  margin: 70px auto 30px;
}

.add__review p {
  font-size: 18px;
  font-weight: bolder;
  color: var(--light-txt);
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 20px;
}

.add__review input {
  width: 100%;
  padding: 16px 20px;
  border: none;
  border-radius: 3px;
  box-shadow: 0 6px 20px rgba(31, 84, 195, 0.15);
  margin-bottom: 20px;
}

.add__review span {
  display: block;
  color: var(--light-txt);
  font-size: 14px;
  margin-top: 10px;
  margin-bottom: 8px;
}

.add__review select {
  display: block;
  border: 1px solid #B9B9B9;
  width: 269px;
  padding: 7px 14px;
  border-radius: 3px;
  font-size: 13px;
  margin-bottom: 30px;
}

.add__review textarea {
  width: 100%;
  height: 120px;
  border-radius: 3px;
  padding: 16px 20px;
  resize: none;
  outline: none;
}

.add__review button {
  margin-top: 50px;
  width: 100%;
  font-size: 18px;
  background: var(--green);
  border: 1px solid var(--green);
  box-shadow: 0 6px 20px rgba(31, 84, 195, 0.15);
  transition: .3s all;
  color: var(--light-txt);
  border-radius: 3px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: 50px;
  cursor: pointer;
}

.add__review button:focus,
.add__review button:hover {
  background: transparent;
  color: var(--green);
}

.auth .add__review input {
  display: none;
}

.popup__wrapper {
  width: 100%;
  position: absolute;
  z-index: 555;
  top: 0;
  background: rgba(255, 255, 255, 0.7);
  min-height: 200%;
  display: none;
}

.popup__wrapper.popup__opened {
  display: block;
}

.popup__wrapper form {
  position: fixed;
  top: 180px;
  left: 0;
  right: 0;
  margin: auto;
  max-width: 626px;
  background: var(--dark-bg);
  padding: 30px 30px 50px;
}

.popup__wrapper form p {
  font-size: 18px;
  text-transform: uppercase;
  font-weight: bolder;
  margin-bottom: 25px;
  color: var(--light-txt);
  text-align: center;
}

.popup__wrapper form textarea {
  width: 100%;
  height: 125px;
  border-radius: 3px;
  padding: 16px 20px;
  resize: none;
  outline: none;
}

.popup__wrapper form button {
  margin-top: 35px;
  width: 100%;
  font-size: 18px;
  background: var(--green);
  border: 1px solid var(--green);
  box-shadow: 0 6px 20px rgba(31, 84, 195, 0.15);
  transition: .3s all;
  color: var(--light-txt);
  border-radius: 3px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: 50px;
  cursor: pointer;
}

.popup__wrapper form button:focus,
.popup__wrapper form button:hover {
  background: transparent;
  color: var(--green);
}

.popup__wrapper form .close__popup {
  position: absolute;
  top: 12px;
  right: 12px;
  cursor: pointer;
}

.popup__wrapper form .close__popup span {
  width: 15px;
  height: 2px;
  background: var(--light-txt);
  display: block;
  border-radius: 3px;
  position: relative;
  transform: rotate(45deg);
}

.popup__wrapper form .close__popup span:after {
  content: "";
  width: 15px;
  height: 2px;
  background: var(--light-txt);
  display: block;
  border-radius: 3px;
  position: absolute;
  transform: rotate(-90deg);
}

@media (max-width: 1370px) {
  .products__card .products__contacts {
    padding-top: 0;
  }

  .products__card .products__contacts p {
    margin-bottom: 10px;
  }

  .products__card .products__contacts__unregistred {
    padding-top: 0;
  }

  .products__card .card__about {
    width: 227px;
    height: 40px;
    font-size: 14px;
  }
}

@media (max-width: 1350px) {
  .products__card .card__main p span {
    display: block;
  }
}

@media (max-width: 1275px) {
  .products__card .card__main p {
    font-size: 16px;
  }

  .products__card .card__main ul {
    font-size: 14px;
  }

  .products__card .products__contacts a:not(:last-child) {
    font-size: 14px;
  }

  .products__card .products__contacts__unregistred span:not(.card__about) {
    font-size: 14px;
  }

  .products__card .products__verification {
    font-size: 14px;
  }
}

@media (max-width: 1200px) {
  .product__about .product__gallery {
    grid-template-columns: 1fr 1fr;
    grid-gap: 16px;
  }
}

@media (max-width: 1000px) {
  .product__sertificates {
    padding: 0 15px;
    grid-gap: 16px;
  }

  .product__sertificates img {
    max-width: 100%;
  }
}

@media (max-width: 980px) {
  .pagination li {
    margin: 0 10px;
  }

  .pagination .prev__item,
  .pagination .next__item {
    margin: 0 10px;
  }
}

@media (max-width: 945px) {
  .products__card {
    grid-column-gap: 20px;
  }

  .products__card .card__info {
    margin-top: 25px;
  }

  .products__card .card__main p span {
    display: inline;
  }
}

@media (max-width: 870px) {
  .products__card .card__img {
    max-width: 130px;
    max-height: 130px;
  }
}

@media (max-width: 800px) {
  .products__card {
    grid-template-columns: 1fr;
    margin-top: 20px;
  }

  .products__card .card__img {
    max-width: 150px;
    max-height: 150px;
  }

  .products__card .products__contacts {
    padding-top: 20px;
  }

  .products__card .products__contacts__unregistred {
    padding-top: 20px;
  }
}

@media (max-width: 700px) {
  .products__card .product__card__inner {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 670px) {
  .products__card {
    padding-right: 0;
  }

  .products__card .product__card__inner {
    padding-right: 0;
  }

  .products__card .card__info {
    padding-left: 0px;
  }

  .products__card .card__info {
    margin-top: 50px;
  }

  .products__card .products__rating {
    display: flex;
    flex-wrap: wrap;
    max-width: 75px;
  }

  .products__card .products__rating .pro__label {
    display: block;
    order: -1;
  }

  .products__card .products__rating .user__online {
    position: static;
  }

  .products__card .products__rating .user__offline {
    position: static;
  }

  .products__card .card__buttons {
    grid-template-columns: 1fr;
    margin-top: 50px;
  }

  .products__card .card__buttons span {
    font-size: 16px;
  }

  .product__about p {
    font-size: 14px;
  }

  .product__reviews .product__review {
    grid-template-columns: 1fr;
    padding: 30px 20px;
  }

  .product__reviews .review__info .review__name {
    font-size: 16px;
  }

  .product__reviews .review__info .review__text {
    font-size: 12px;
  }

  .product__reviews .review__rating {
    display: flex;
    flex-wrap: wrap;
    max-width: 75px;
  }

  .product__sertificates {
    grid-gap: 30px 16px;
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 630px) {
  .pagination .prev__item,
  .pagination .next__item {
    margin: 0;
  }
}

@media (max-width: 400px) {
  .products__card .product__card__inner {
    grid-template-columns: 1fr;
  }
}