.wide__wrapper {
  max-width: 1750px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.sidebar {
  padding: 50px 0 280px 45px;
  background: var(--dark-bg);
  color: var(--light-txt);
  flex-basis: 33.6%;
  position: relative;
  max-height: 990px;
}

.sidebar span,
.sidebar input,
.sidebar a {
  display: block;
  font-size: 18px;
  font-weight: 500;
}

.sidebar span {
  margin-bottom: 10px;
}

.sidebar:before {
  content: "";
  width: 200%;
  height: 100%;
  background: inherit;
  position: absolute;
  top: 0;
  right: 99%;
}

.sidebar__top .input__wrapper {
  max-width: 480px;
  position: relative;
}

.sidebar__top .input__wrapper:after {
  content: "";
  width: 32px;
  height: 31px;
  background: url(../img/neuter.svg);
  right: 20px;
  margin: auto;
  top: 0;
  bottom: 0;
  position: absolute;
}

.sidebar__top input {
  border: 1px solid #CECECE;
  border-radius: var(--round);
  padding-left: 25px;
  padding-right: 30px;
  max-width: 480px;
  width: 100%;
  height: 60px;
  background: transparent;
  color: var(--light-txt);
  outline: none;
  transition: .3s all;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

.sidebar__top input:hover,
.sidebar__top input :focus {
  border: 1px solid var(--green);
}

.sidebar__top a {
  max-width: 480px;
  width: 100%;
  height: 52px;
  margin-top: 30px;
  background: #fff;
  transition: .3s all;
  color: #575757;
  text-decoration: none;
  border-radius: var(--round);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  position: relative;
}

.sidebar__top a:hover {
  background: var(--green);
  color: #fff;
}

.sidebar__top a:hover:after {
  background: url(../img/plus-circle-hover.svg);
}

.sidebar__top a:after {
  content: "";
  width: 40px;
  height: 40px;
  background: url(../img/plus-circle.svg);
  border-radius: 50%;
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  right: 11px;
  transition: inherit;
}

.sidebar__top .show__filters {
  display: none;
}

.sidebar__bottom {
  margin-top: 135px;
}

.sidebar__bottom > div {
  max-width: 480px;
  width: 100%;
}

.sidebar__bottom .select__form {
  position: relative;
  height: 60px;
  border-radius: var(--round);
  max-width: 480px;
  width: 100%;
  background: #313131;
  border: 1px solid #CECECE;
  transition: .3s all;
  margin-bottom: 20px;
  cursor: pointer;
}

.sidebar__bottom .select__form[data-state="active"] .select__content {
  opacity: 1;
  padding: 18px 0;
}

.sidebar__bottom .select__form[data-state="active"] .select__content label {
  max-height: 40px;
}

.sidebar__bottom .select__form[data-state="active"] .select__title:before {
  background-color: var(--green);
}

.sidebar__bottom .select__form .select__title {
  font-size: 16px;
  color: #C9C9C9;
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 8px 4px 8px 25px;
  position: relative;
  transition: .3s all;
}

.sidebar__bottom .select__form .select__title:before {
  content: "";
  width: 50px;
  height: 50px;
  margin: auto;
  right: 2px;
  background-color: #fff;
  border: 1px solid #707070;
  position: absolute;
  border-radius: 50%;
  background-image: url("../img/angle-up.svg");
  background-position: center;
  background-repeat: no-repeat;
}

.sidebar__bottom .select__form .select__content {
  position: absolute;
  top: 60px;
  display: flex;
  flex-wrap: wrap;
  background-color: #fff;
  border-radius: 3px;
  width: 100%;
  color: var(--dark-txt);
}

.sidebar__bottom .select__form .select__content input {
  display: none;
}

.sidebar__bottom .select__form .select__content input:checked + label {
  background-color: #F0F0F0;
}

.sidebar__bottom .select__form .select__content label {
  display: flex;
  align-items: center;
  width: 100%;
  height: 40px;
  max-height: 0;
  padding: 0 45px;
  transition: .3s all;
  cursor: pointer;
  overflow: hidden;
}

.sidebar__bottom .select__form .select__content label:hover {
  background-color: #F0F0F0;
}

.sidebar__bottom .selectradio__form {
  max-width: 400px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.sidebar__bottom .selectradio__form input {
  display: none;
}

.sidebar__bottom .selectradio__form input:checked + label:before {
  background: var(--green);
}

.sidebar__bottom .selectradio__form label {
  display: inline-block;
  color: var(--light-txt);
  cursor: pointer;
}

.sidebar__bottom .selectradio__form label:before {
  content: "";
  width: 23px;
  height: 23px;
  background: var(--grey);
  border-radius: 50%;
  margin-right: 17px;
  display: inline-block;
  vertical-align: middle;
  border: 5px solid var(--light-txt);
  box-sizing: border-box;
}

.sidebar__bottom .filters__head {
  display: none;
}

.sidebar__bottom .filters__head .close__filters {
  position: absolute;
  right: 20px;
  bottom: 0;
}

.sidebar__bottom .filters__head .close__filters span {
  width: 40px;
  height: 3px;
  background: var(--light-txt);
  transform: rotate(45deg);
}

.sidebar__bottom .filters__head .close__filters span:after {
  content: "";
  width: 40px;
  height: 3px;
  background: inherit;
  position: absolute;
  transform: rotate(-90deg);
}

.sidebar__bottom .use__filters {
  display: none;
}

.sidebar__bottom .use__filters:hover,
.sidebar__bottom .use__filters:focus {
  background: #fff;
  border: 1px solid var(--dark-txt);
  color: var(--dark-txt);
}

.content {
  display: flex;
  flex-wrap: wrap;
  padding: 35px 30px 60px;
  flex-basis: 66.4%;
}

.content > p {
  font-size: 18px;
  max-height: 20px;
}

.content > p .tenders__number {
  font-weight: bold;
}

.tenders__cards {
  flex-basis: 100%;
  display: flex;
  flex-wrap: wrap;
}

.tenders__cards .tender__card {
  flex-basis: 100%;
  box-shadow: 0 0 10px rgba(101, 101, 101, 0.2);
  position: relative;
  margin-top: 40px;
}

.tenders__cards .tender__card .card__head {
  display: grid;
  grid-template-columns: 1fr 4fr 2fr;
}

.tenders__cards .tender__card .card__head .card__id {
  text-align: center;
  background: var(--green);
  font-size: 18px;
  font-weight: bolder;
  color: var(--light-txt);
  padding: 11px 0;
}

.tenders__cards .tender__card .card__head .card__title {
  font-size: 18px;
  line-height: 22px;
  font-weight: bolder;
  color: var(--light-txt);
  padding: 11px 0 11px 28px;
  background: var(--dark-bg);
}

.tenders__cards .tender__card .card__head .card__offers {
  padding: 11px 0 11px 28px;
  font-size: 16px;
  background: var(--grey);
}

.tenders__cards .tender__card .card__head .card__offers p:before {
  content: "";
  width: 18px;
  height: 18px;
  background-image: url(../img/envelope-open-text.svg);
  background-repeat: no-repeat;
  display: inline-block;
  vertical-align: middle;
  margin-right: 14px;
}

.tenders__cards .tender__card .card__body {
  padding: 35px 30px 30px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.tenders__cards .tender__card .card__body li {
  list-style: none;
  margin-bottom: 6px;
  max-width: 420px;
  position: relative;
  padding-left: 20px;
}

.tenders__cards .tender__card .card__body li:before {
  content: '';
  width: 16px;
  height: 12px;
  background: url(../img/check.png);
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  margin: auto;
}

.tenders__cards .tender__card .card__body .card__info {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}

.tenders__cards .tender__card .card__body .card__info > div p {
  font-size: 16px;
  line-height: 24px;
}

.tenders__cards .tender__card .card__body .card__info > div .card__budget {
  color: var(--green);
}

.tenders__cards .tender__card .card__body .card__info > div span {
  font-weight: bolder;
}

.tenders__cards .tender__card .card__body .card__info a {
  width: 272px;
  height: 41px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  border-radius: var(--round);
  color: var(--light-txt);
  background: var(--green);
  transition: .3s all;
  text-decoration: none;
  position: relative;
  border: 1px solid var(--green);
}

.tenders__cards .tender__card .card__body .card__info a:after,
.tenders__cards .tender__card .card__body .card__info a:before {
  content: "";
  width: 8px;
  height: 2px;
  background: var(--light-txt);
  border-radius: 3px;
  position: absolute;
  right: 15px;
  transition: .3s all;
}

.tenders__cards .tender__card .card__body .card__info a:after {
  transform: rotate(45deg);
  top: 17px;
}

.tenders__cards .tender__card .card__body .card__info a:before {
  transform: rotate(-45deg);
  top: 21px;
}

.tenders__cards .tender__card .card__body .card__info a:hover {
  background: var(--light-txt);
  color: var(--dark-txt);
  border-color: var(--dark-txt);
}

.tenders__cards .tender__card .card__body .card__info a:hover:before,
.tenders__cards .tender__card .card__body .card__info a:hover:after {
  right: 12px;
  background: var(--dark-txt);
}

.tenders__cards .tender__card.inactive .card__head .card__id {
  background: var(--grey);
  color: var(--dark-bg);
}

.tenders__cards .tender__card.inactive .card__body a {
  background: var(--grey);
  color: var(--dark-bg);
  border-color: var(--grey);
}

.pagination {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-basis: 100%;
  margin-top: 25px;
  align-items: center;
}

.pagination li {
  list-style: none;
  margin: 0 15px;
}

.pagination li a {
  color: var(--dark-txt);
  text-decoration: none;
  width: 100%;
  height: 100%;
  display: block;
}

.pagination .prev__item,
.pagination .next__item {
  width: 60px;
  height: 60px;
  background: var(--grey);
  border-radius: 50%;
  margin: 0 25px;
  position: relative;
  transition: .3s all;
}

.pagination .prev__item a,
.pagination .next__item a {
  position: relative;
}

.pagination .prev__item a:before,
.pagination .next__item a:before {
  content: "";
  border: solid var(--dark-txt);
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  margin: auto;
  transition: .3s all;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 0px;
  height: 0px;
}

.pagination .next__item a:before {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.pagination .next__item.notLastPage {
  background-color: var(--green);
}

.pagination .next__item.notLastPage a:before {
  border-color: var(--light-txt);
}

.pagination .prev__item a:before {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}

.pagination .prev__item.notFirstPage {
  background: var(--green);
}

.pagination .prev__item.notFirstPage a:before {
  border-color: var(--light-txt);
}

@media (max-width: 1750px) {
  .sidebar {
    flex-basis: 22.6%;
    padding-left: 10px;
    padding-right: 10px;
  }

  .sidebar__top a {
    font-size: 12px;
  }

  .content {
    flex-basis: 77.4%;
  }
}

@media (max-width: 1370px) {
  .content {
    flex-basis: 65%;
  }

  .tenders__cards .tender__card {
    max-width: 632px;
  }

  .tenders__cards .tender__card .card__head .card__id {
    font-size: 16px;
    padding: 12px 0;
  }

  .tenders__cards .tender__card .card__head .card__title {
    font-size: 14px;
    line-height: 18px;
    padding: 4px 0 4px 16px;
  }

  .tenders__cards .tender__card .card__head .card__offers {
    font-size: 12px;
    padding: 15px 0 14px 7px;
  }

  .tenders__cards .tender__card .card__head .card__offers p:before {
    margin-right: 10px;
  }

  .tenders__cards .tender__card .card__body {
    padding: 20px 20px 25px;
    grid-template-columns: 1fr;
    grid-row-gap: 20px;
  }

  .tenders__cards .tender__card .card__body li {
    font-size: 14px;
  }

  .tenders__cards .tender__card .card__body .card__info a {
    width: 227px;
    height: 40px;
    font-size: 14px;
  }
}

@media (max-width: 1300px) {
  .sidebar {
    flex-basis: 35%;
    padding-bottom: 400px;
  }

  .sidebar span,
  .sidebar input,
  .sidebar a {
    font-size: 16px;
  }

  .sidebar > div {
    padding: 0 5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .sidebar > div > * {
    flex-basis: 100%;
  }

  .sidebar__top .input__wrapper:after {
    right: 10px;
  }

  .sidebar__top input {
    height: 50px;
    padding-right: 20px;
    font-size: 14px;
  }

  .sidebar__top a {
    height: 50px;
    margin-top: 40px;
    font-size: 11px;
    padding-left: 30px;
    justify-content: flex-start;
  }

  .sidebar__top a:after {
    right: 8px;
  }

  .sidebar__bottom {
    margin-top: 57px;
  }

  .sidebar__bottom .select__form .select__title {
    font-size: 14px;
  }

  .sidebar__bottom .selectradio__form label {
    font-size: 14px;
  }
}

@media (max-width: 1300px) and (max-width: 670px) {
  .sidebar > div {
    justify-content: flex-start;
  }

  .sidebar > div > * {
    max-width: 100%;
  }
}

@media (max-width: 980px) {
  .pagination li {
    margin: 0 10px;
  }

  .pagination .prev__item,
  .pagination .next__item {
    margin: 0 10px;
  }
}

@media (max-width: 900px) {
  .sidebar__bottom .selectradio__form label:before {
    margin-right: 9px;
  }
}

@media (max-width: 865px) {
  .content {
    flex-basis: 55%;
  }

  .tenders__cards .tender__card .card__head {
    display: flex;
    flex-wrap: wrap;
  }

  .tenders__cards .tender__card .card__head .card__id {
    flex-basis: 50%;
  }

  .tenders__cards .tender__card .card__head .card__title {
    flex-basis: 100%;
    order: 1;
    text-align: center;
  }

  .tenders__cards .tender__card .card__head .card__offers {
    flex-basis: 50%;
    text-align: center;
  }

  .tenders__cards .tender__card .card__body {
    padding: 20px 16px 35px;
    grid-row-gap: 35px;
  }

  .tenders__cards .tender__card .card__body li {
    font-size: 12px;
  }

  .tenders__cards .tender__card .card__body .card__info > div p {
    font-size: 12px;
    line-height: 21px;
  }

  .tenders__cards .tender__card .card__body .card__info a {
    width: 200px;
  }
}

@media (max-width: 800px) {
  .tenders__cards .tender__card {
    margin-top: 20px;
  }
}

@media (max-width: 670px) {
  .sidebar {
    flex-basis: 100%;
    padding: 30px 16px;
    background: transparent;
    margin: 0 auto;
    max-width: 430px;
  }

  .sidebar__top a {
    background: var(--green);
    color: #fff;
    margin: 40px 0;
  }

  .sidebar__top a:after {
    background: url(../img/plus-circle-hover.svg);
  }

  .sidebar__top .show__filters {
    max-width: 430px;
    height: 52px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
    background: var(--dark-bg);
    border: none;
    outline: none;
    color: var(--light-txt);
    font-size: 18px;
    line-height: 17px;
    box-shadow: 0 6px 20px rgba(31, 84, 195, 0.15);
  }

  .sidebar__bottom {
    background: var(--dark-bg);
    padding: 40px 16px 480px !important;
    margin-top: 0;
    position: absolute;
    max-width: 312px;
    z-index: 1;
    top: -91px;
    transition: .3s all;
    left: -500%;
  }

  .sidebar__bottom.open__filters {
    left: 0;
  }

  .sidebar__bottom span {
    color: var(--light-txt);
  }

  .sidebar__bottom .selectradio__form label {
    font-size: 15px;
  }

  .sidebar__bottom .filters__head {
    display: block;
    position: relative;
    margin-bottom: 30px;
  }

  .sidebar__bottom .use__filters {
    transition: .3s;
    width: 280px;
    height: 50px;
    background: var(--green);
    color: var(--light-txt);
    font-size: 18px;
    outline: none;
    margin-top: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    border-radius: var(--round);
    border: 1px solid var(--green);
  }

  .content {
    flex-basis: 100%;
    padding: 20px 0;
  }

  .content > p {
    margin-left: 16px;
  }
}

@media (max-width: 630px) {
  .pagination .prev__item,
  .pagination .next__item {
    margin: 0;
  }
}

@media (max-width: 375px) {
  .sidebar {
    padding: 30px 0;
  }

  .sidebar__top a {
    font-size: 14px;
  }
}